<form>
  <h2>Regisztráció</h2>
  <mat-form-field>
    <mat-label>Keresztnév:</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Vezeteknév:</mat-label>
    <input type="text" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email:</mat-label>
    <input type="email" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Jelszó:</mat-label>
    <input type="password" matInput />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Jelszó Újra:</mat-label>
    <input type="password" matInput />
  </mat-form-field>
</form>

<div class="own-button-login-div">
  <button mat-flat-button color="primary">Regisztráció</button>
  <button mat-flat-button color="primary" (click)="changePageFunction(false)">
    Bejelentkezés
  </button>
</div>
